/**********用于覆盖原有样式***********/
.ant-tabs-ink-bar{
	height:0px;
}
.ant-tabs-nav .ant-tabs-tab-active{
	color:#1D4826;
	font-weight:bold;
}
.ant-tabs-nav .ant-tabs-tab:hover{
	color:#1D4826;
}
.ant-tabs-nav .ant-tabs-tab:active{
	color:#1D4826;
}
.ant-tabs-bar{
	border:0px;
}
.ant-tabs-nav{
	position:ausolute;
	left:calc(50% - 62px);
	top:4px;
}